control_trigger/.vs/
control_trigger/control_trigger/Debug/
control_trigger/control_trigger/Release/
control_trigger/control_trigger/x64/
librtmp/.vs/
librtmp/librtmp/x64/
librtmp-lib/.vs/
librtmp-lib/Debug/
librtmp-lib/Release/
librtmp-lib/x64/
testRtmp/.vs/
testRtmp/Debug/
testRtmp/testRtmp/Debug/
testRtmp/testRtmp/Release/
testRtmp/testRtmp/x64/
control_trigger/Debug/
control_trigger/Release/
control_trigger/x64/
